<mat-card class="p-3">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmitUser()" autocomplete="off">
      <mat-divider />
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" maxlength="200" />
          <mat-error *ngIf="addUserForm.get('name')?.hasError('required')">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="addUserForm.get('name')?.hasError('maxlength')">
            The name cannot exceed 200 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" maxlength="200" />
          <mat-error *ngIf="addUserForm.get('email')?.hasError('emailExists')">
            A user with this email is already in the system.
          </mat-error>
          <mat-error *ngIf="addUserForm.get('email')?.hasError('required')">
            This field is mandatory.
          </mat-error>
          <mat-error *ngIf="addUserForm.get('email')?.hasError('email')">
            Please, enter a valid email.
          </mat-error>
          <mat-error *ngIf="addUserForm.get('email')?.hasError('maxlength')">
            The email cannot exceed 200 characters.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Credits</mat-label>
          <input matInput type="number" formControlName="credits" maxlength="200" />
          <mat-error *ngIf="addUserForm.get('credits')?.hasError('required')">
            This field is mandatory.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <button mat-raised-button color="primary" class="py-2 px-4">Añadir</button>
      </div>
    </form>
    <mat-divider />
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell class="hidden md:flex" *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell class="hidden md:flex" *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>

      <!-- Credits Column -->
      <ng-container matColumnDef="credits">
        <mat-header-cell class="hidden md:flex" *matHeaderCellDef mat-sort-header>Credits</mat-header-cell>
        <mat-cell class="hidden md:flex" *matCellDef="let user">{{ user.credits }}</mat-cell>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell class="hidden md:flex" *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell class="hidden md:flex" *matCellDef="let user">{{ user.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-mini-fab color="warn" (click)="onDelete(user)" [disabled]="isLoading"
            aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-progress-bar *ngIf="isLoading" mode="query" />
  </mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
