.mat-column-reviewer {
  flex-direction: column;
  justify-content: center;
  max-width: 70px;
}

.mat-column-manager {
  flex-direction: column;
  justify-content: center;
  max-width: 70px;
}
.mat-column-delete {
  flex-direction: column;
  justify-content: center;
  max-width: 70px;
}
